<% @comment = Comment.new(:book_id => book_id) %>
<%= form_for(@comment, :url => book_comments_path(book_id)) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 5, :cols => 20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
