<h1>Listing comments</h1>
<% @comments = Book.find(book_id).comments %>
<table>
  <% if !@comments.nil? %>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to 'Destroy', book_comment_path(:book_id => book_id,
                                                     :id => comment.id),
                                   method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% else %>
    <div class="notice">No comments</div>
  <% end %>
</table>

<br />
