<h1>Listing comments</h1>
<%# @book = Book.first %>
<table>
  <% if !@comments.nil? %>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% else %>
    <div class="notice">No comments</div>
  <% end %>
</table>

<br />
<%#= link_to 'New Comment', new_book_comment_path(:book_id => @book.id) %>
