<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @book.desc %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<%= render :partial => 'comments/index', :locals => {:book_id => @book.id} %>

<%= render :partial => 'comments/form', :locals => {:book_id => @book.id} %>
